<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMQuanLy.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="sqlite_quanly_db" connectionString="XpoProvider=SQLite;Data Source=quanly_db.db"/>
        <add name="quanly_db" connectionString="XpoProvider=SQLite;Data Source=quanly_db.db"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
